
*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(222, 215, 215);
}

.container{
    padding: 20px;
}

main{
    margin-top: 20px;
    border: 1px solid black;
    padding: 20px;
}

.btn{
    border-radius: 7px;
    padding: 7px;
    border: none;
    background: red;
    color: white;

}
