

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.title{
    padding: 20px;
    text-align: center;
}

.tabContainer{
    display: flex;
    padding: 0px 25px;
}

.tabButtons{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 320px;
    background-color: #f1f1f1;
}

.tabButtons button{
    display: flex;
    flex-direction: column;
    color: black;
    padding: 22px 16px;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    transition: 0.5s;
}

.tabButtons button:hover{
    background-color: #ddd;
}
.tabButtons button.active{
    background-color: #ccc;
}

.tabs{
    padding: 0px 12px;
    padding-top: 20px;
    border: 1px solid #ccc;
    border-left: none;
    height: 320px;
    width: 70%;
}