body{
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.list{
    width: 300px;
    margin: 50px auto;
}

.list ul{
    padding: 0;
}

.list li{
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.list li:hover{
    background: #eaeaea;
}

.done{
    text-decoration: line-through;
    color: gray;
}
