
body {
  font-family: Arial;
}

/* Tab container */
.tab {
  display: flex;              /* 👈 flex use */
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Tab buttons */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Hover effect */
.tab button:hover {
  background-color: #ddd;
}

/* Active tab */
.tab button.active {
  background-color: #ccc;
}

/* Tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
